body{
  font-family: Verdana,sans-serif;
  line-height: 1.5;
}
.cuerpo{

  width: 1100px;
  margin: 0 auto;

}
.bottom{
  background-color: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  float: left;
  width: 320px;
  height: 250px;
  margin: 5px 12px 10px 5px;
  padding: 10px;
  overflow: scroll;
}
.bottom a{
  color: #ff6673;
}
.bottom img{
  width: 300px;
}

.bottom p i + a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}
.aside{
  text-align: justify;
  width: 260px;
  float: left;
  font-size: 10px;
}
.aside aside img{
  width: 250px;
  margin: -10px;
}
.aside a{
  color:  #ff6673;
}
.aside aside{
  background-color: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  margin: 0 0 10px 10px;
  width: 230px;
}
header{

		margin: -7px -5px 15px -7px ;
    box-shadow: 0 0 15px rgba(000, 0 , 0, 0.5);
    background: white;
    height: 60px;
    width: 100%;
    padding: 10px ;
}
header a h2{
  margin-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  float: left;
}
header img{
  height: 80px;
  margin: -10px;
  margin-left: 20px;
}

nav{

  margin: 0 auto;
  float: right;
}
nav ul{
  height: 81px;
  margin:-11px 0 0 0 ;
  padding:0;
  list-style-type:none;
  overflow: hidden;
}

nav li{
    transition: .8s linear;
    float: left;
    width: 150px;
    height: 81px;
    text-align: center;
}
nav li:hover{
  background-color: #ff6673;
  color: white;
}

nav li a{
  display: block;
  color: inherit;
  padding-top: 30px;
  text-decoration: none;

}

#in{
  display: block;
  color: inherit;
  padding-top: 25px;
  text-decoration: none;
}
nav li a:active{
  text-decoration: none;
  color:white;
  background: #ff6673;
}



section{
  background-color: white;
  width: 800px;
  float: left;
  margin-bottom: 40px;
}

footer{
  clear: both;
  color: white;
  background: #353A38;
  padding: 5px;
}
footer p{
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
article{
  margin-bottom: 40px;
  padding: 20px;
  width: 760px;
}
article img{
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 5px solid white;

}
article p{
  text-align: justify;
}

article p::selection{
  background-color: #ff6673;
  color:white;
}
h4{
  text-align: center;
}
h2{
  margin-left: 20px;
}

 table, th, td, tfoot{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td , tfoot{
  padding: 10px;
  text-align: center;
}
th{
  background-color: #ff99a2;
}

td:hover{
  color: white;
  background-color:#ff6673;
}
#profile{
width: 25%;
}
