.cuerpo{
  width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}
header{
		margin: 0 auto;
    background: #353A38;
    height: 50px;
    width: auto;
    padding: 10px ;
    text-align: center;
}
header a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
nav{
  height: full;
  width: 200px;
  margin: 5px;
  text-align: center;
  display: inline;

}
nav ul{
  margin:0;
  padding:0;
  list-style-type:none;
  background-color: white;
  overflow: hidden;
}

nav li{
    float: left;
}
nav li:hover{
  background: #59A59B;
  color: white;
  transition-duration: .8s;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
}
nav li a:active{
  text-decoration: none;
  color:#00ddff;
}
nav p {
  padding: 5px;
  background-color: #59A59B;
  color: white;
  font-weight: bold;
}


section{
  margin: 5px;
  width: 780px;
  float: left;
}

footer{
  clear: both;
  color: white;
  background: #353A38;
  padding: 5px;
}
footer p{
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
article{
  background: #B4F2E1;
  margin: 40px auto;
  padding: 20px;
  border-radius: 6px;
  width: 700px;
}
article img{
  border-radius: 5px;
  align-items: center;
  display: block;
  margin: 0 auto;

}
article p{
  text-align: justify;
}
article p::first-letter{
  font-size: 16px;
  font-weight: bold;
}
article p::selection{
  background-color:#59A59B;
  color:white;
}
h4{
  text-align: center;
}
h2{
  margin-left: 20px;
}
